version: '3.9'

services:
  host_clm:
    build:
      context: .
      args:
        HF_TOKEN: ${HF_TOKEN}
    ports:
      - "8000:8000"
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    volumes:
      - ./models:/app/models
    # command: bash                    # Inicia en modo interactivo

    stdin_open: true
    tty: true
    env_file:
      - .env
